[Unit]
Description=Scheduler for job {{ item.name }}
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true

#Run 1h after boot for the first time
OnBootSec=3600

# Schedule time
OnCalendar={{ item.on_calendar }}

#File describing job to execute
Unit={{ item.name }}.service

[Install]
WantedBy=timers.target
