[default]
access_key = {{ s3_access_key }}
secret_key = {{ s3_secret_key }}
{% if s3_endpoint is defined %}
host_base = {{ s3_endpoint }}
{% endif %}
{% if s3_host_bucket is defined  %}
host_bucket = {{ s3_host_bucket }}
{% endif %}
{% if s3_bucket_location is defined %}
bucket_location = {{ s3_bucket_location }}
{% endif %}
use_mime_magic = True
verbosity = WARNING
website_endpoint = http://%(bucket)s.s3-website-%(location)s.amazonaws.com/